/* Завдання №1 */

.text-box>h3:first-child {
    color: pink;
}

#greycol {
    color: grey;
}

.text-box>div>p {
    color: red;
}

.text-box>p:nth-child(7) {
    color: green;
}

.yellow {
    color: yellow;
}

/* Завдання №2 */

/* Global styles */

ul>li:hover {
    font-size: 48px;
}

ul>button:disabled {
    color: teal;
}

ul>li:first-child>a:link {
    color: inherit;
}

ul>li:first-child>a:visited {
    color: gray;
}

ul>li>a:only-child {
    font-size: 30px;
}

ul>li:nth-child(3) {
    font-size: 24px;
}

ul>li:nth-last-child(2) {
    font-size: 32px;
}

/* First list */

.first li:nth-child(2n) {
    color: blueviolet;
}

.first li:not(:nth-child(2n)) {
    color: brown;
}

/* Second list */

.second li:nth-child(3n) {
    color: blue;
}

.second li:not(:nth-child(3n)) {
    color: red;
}

/* Third list */

.third li:nth-child(3n) {
    color: chartreuse;
}

.third li:not(:nth-child(3n)) {
    color: lightcoral;
}

/* Fourth list */

.fourth li:nth-child(2n) {
    color: tomato;
}

.fourth li:not(:nth-child(2n)) {
    color: orange;
}

/* Fifth list */

.fifth li:nth-child(2n) {
    color: aqua;
}

.fifth li:not(:nth-child(2n)) {
    color: lightblue;
}